<% content_for :header do %>
  <div class="exercise-header">
    <h1>Exercise <%= exercise.index %> <span class="date"><%= exercise.date %></span></h1>
    
    <% if exercise.index > 1 %>
      <a class="previous" href="/exercise/<%= exercise.index - 1 %>">Previous</a>
    <% end %>
    <a class="next" href="/exercise/<%= exercise.index + 1 %>">Next</a>
  </div>
<% end %>

<% content_for :main do %>
  <% for part in exercise.parts %>
    <div class="part">
      <h2><%= part.title %></h2>
      <p>
        <img src="/notation/<%= part.notation_identifier %>.svg" />
      </p>
    </div>
  <% end %>
<% end %>