<h1>Exercise <%= exercise.index %></h1>

<h2><%= exercise.parts[0].title %></h2>
<p>
  <img src="/notation/<%= exercise.parts[0].notation_identifier %>.svg" />
</p>

<h2><%= exercise.parts[1].title %></h2>
<p>
  <img src="/notation/<%= exercise.parts[1].notation_identifier %>.svg" />
</p>

<h2><%= exercise.parts[2].title %></h2>
<p>
  <img src="/notation/<%= exercise.parts[2].notation_identifier %>.svg" />
</p>